:root {
    --color: #0f0;
    --color-accent: #00ff004f;
    --color-bg: #222;
    --color-bg-secondary: #555;
    --color-secondary: #009f00;
    --color-secondary-accent: #009f004f;
    --color-shadow: #bbbbbb20;
    --color-text: #f7f7f7;
    --color-text-secondary: #aaa;
}

nav{
    --color-secondary: #0f0;
    margin-bottom: 30px;
}

#addons div {
    text-align: left;
}

#comparison table td {
    text-align: var(--justify-normal);
}

header img {
    margin-top: 100px;
}

.promo-banner{
    width: 100%;
    background-color: var(--color);
    box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.5);
}

.promo-banner h3{
    margin: 10px 0;
}